{% extends 'base.html.twig' %}

{% block title %}Connectez vous!{% endblock %}

{% block body %}
<div class="bloc_login">
    <form method="post" class="form_login">
        {% if error %}
            <div class="form_error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnection</a>
            </div>
        {% endif %}

        <h1 class="title_login">Se connecter :</h1>
        <div class="div_login">
            <label for="inputEmail" class="label_login">Email</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control input_login" autocomplete="email" required autofocus>
        </div>
        <div class="div_login">
            <label for="inputPassword" class="label_login">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control input_login" autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#     
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html
        #}

        <div class="div_login">
            <label>
                <input type="checkbox" name="_remember_me"> Restez connecté
            </label>
        </div>
    

        <button class="btn" type="submit">
            Se connecter
        </button>
    </form>
</div>
{% endblock %}
