{% extends 'base.html.twig' %}

{% block title %}Mon profile !{% endblock %}

{% block body %}
<div class="profile-container">
    <div class="profile-name">
        {{ user.firstname }} {{ user.lastname }}
    </div>
    <div class="profile-buttons">
        <button>Travaux</button>
        <button>Annonces</button>
        <button>Mur de style</button>
        <button>Stats</button>
        <button>À propos</button>
        <button>Posts likés</button>
    </div>
    <div class="profile-content">
        <div>
            <a href="{{ path('app_images_upload') }}" class="add-button">Ajouter</a>
            <div class="creations">
                {% for creation in creations %}
                    <img src="{{ '../upload/img/' ~ creation.image }}" alt="{{ creation.name }}">
                {% endfor %}
            </div>
        </div>
  
        <div class="profile-stats">
            <p>1000 Vues</p>
            <p>1000 Commentaires</p>
            <p>1000 Visites</p>
            <p>{{ likesCount }} J'aimes</p>
        </div>

        <div class="profile-related">
            {% include "home/list.html.twig" with {data} %}
        </div>
    </div>
</div>
{% endblock %}
