{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ categorie.nom }}</h1>
    <div>
        <h1>{{ categorie.name }}</h1>
        {% for image in categorie.images %}
            <div>
                <img src="{{ image.path }}" alt="{{ image.name }}">
                <p>{{ image.name }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
